// $primary-color: rgb(216, 11, 154); // Pink
$primary-color: rgb(32, 115, 240);

body {
    background: linear-gradient(135deg, lighten($primary-color, 25%), $primary-color);
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.menu {
    width: 90px;
    height: 380px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 5px;

    ul {
        margin: 0;
        padding-left: 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        li {
            text-decoration: none;
            list-style-type: none;
            text-align: center;
            border-bottom: 1px solid;
            border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0.13), transparent);
            border-image-slice: 1;
            padding: 15px;

            &:last-child {
                border: none;
            }

            &.active {
                a {
                    color: $primary-color;
                }
            }

            a {
                color: #646464;

                &:hover {
                    color: $primary-color;
                }

                span {
                    display: block;
                    margin-top: 10px;
                    font-size: 11px;
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                        Verdana, sans-serif;
                }
            }

            i {
                font-size: 18px;
            }
        }
    }
}

.contact {
    height: 540px;
    width: 460px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    z-index: 1;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contac-Photo {
    height: 345px;
    background-image: url("img/PERFIL.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    position: relative;
}

.style-corner {
    border: 230px solid #fff;
    border-bottom: 0;
    border-top: 35px solid transparent;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 1;
}

.contct-title h1 {
    font-size: 13;
    height: 40px;
    padding: 10px;
    margin: 0;
}

.contact-subtitle {
    height: 20px;
}

.contact-subtitle span {
    font-size: 18px;
    color: $primary-color;
}

.contact-social {
    height: 43px;
    padding-top: 15px;
}

.contact-social a {
    color: #3b3b3b;
    padding: 7px;
    margin-top: 10px;
}

.contact-social a:hover {
    color: $primary-color;
}

.contact-descarga {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid;
    border-image-source: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.15), transparent);
    border-image-slice: 1;
}

.contact-descarga a {
    text-decoration: none;
    color: #646464;
    font-weight: 600;
    font-size: 14px;
    padding-top: 15px;
}

.contact-descarga a:first-child {
    border-right: 2px solid;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
    border-image-slice: 1;
    padding-right: 80px;
}

.auxiliar-about {
    height: 510px;
    width: 650px;
    background-color: #fff;
    border-radius: 0px 5px 5px 0px;
    overflow-x: auto;
}

.title-auxiliar-about {
    height: 50px;
}

.auxiliar-about .title-auxiliar-about h2 {
    margin: 20px;
    font-weight: bolder;
    color: #000;
}

.color {
    color: $primary-color;
}

.container-about-padre {
    display: flex;
}

.container-about-padre > div {
    width: 50%;
    padding-top: 10px;
    padding: 22px;
}
.axuliar-lista {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0;
}

.axuliar-lista li {
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    border-image-source: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
    border-image-slice: 1;
    padding-top: 12px;
}
.axuliar-lista li:first-child {
    border-top: none;
}

.axuliar-lista li span {
    padding: 1px 4px;
}

.subrayado-auxiliar {
    background-color: $primary-color;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
}

.subrayado-color {
    color: #646464;
    margin-right: 20px;
}

.auxiliar-rithg {
    width: 50%;
    border-left: 1px solid;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
    border-image-slice: 1;
}

p {
    color: #646464;
    line-height: 2em;
}

.title-auxiliar-about {
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
    border-image-slice: 1;
}
