body {
  background: linear-gradient(135deg, #97bef8, #2073f0);
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.menu {
  width: 90px;
  height: 380px;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 5px;
}
.menu ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.menu ul li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0.13), transparent);
  border-image-slice: 1;
  padding: 15px;
}
.menu ul li:last-child {
  border: none;
}
.menu ul li.active a {
  color: #2073f0;
}
.menu ul li a {
  color: #646464;
  transition: all 0.2s linear;
}
.menu ul li a:hover {
  color: #2073f0;
}
.menu ul li a span {
  display: block;
  margin-top: 10px;
  font-size: 11px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.menu ul li i {
  font-size: 18px;
}

.contact {
  height: 580px;
  width: 450px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.contact .contac-Photo {
  height: 400px;
  background-image: url("./img/PERFIL.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
  position: relative;
}
.contact .contac-Photo .style-corner {
  border: 230px solid #fff;
  border-bottom: 0;
  border-top: 35px solid transparent;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  z-index: 1;
}
.contact .contct-title h1 {
  font-size: 13;
  height: 40px;
  padding: 10px;
  margin: 0;
}
.contact .contact-subtitle {
  height: 20px;
}
.contact .contact-subtitle span {
  font-size: 18px;
  color: #2073f0;
}
.contact .contact-social {
  height: 43px;
  padding-top: 15px;
}
.contact .contact-social a {
  color: #3b3b3b;
  padding: 7px;
  margin-top: 10px;
  transition: all 0.3s linear;
}
.contact .contact-social a:hover {
  color: #2073f0;
}
.contact .contact-descarga {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid;
  border-image-source: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.15), transparent);
  border-image-slice: 1;
}
.contact .contact-descarga a {
  text-decoration: none;
  color: #646464;
  font-weight: 600;
  font-size: 14px;
  padding-top: 15px;
}
.contact .contact-descarga a:first-child {
  border-right: 2px solid;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
  border-image-slice: 1;
  padding-right: 80px;
}

.auxiliar-about {
  height: 550px;
  width: 600px;
  background-color: #fff;
  border-radius: 0px 5px 5px 0px;
  overflow-x: auto;
}
.auxiliar-about .title-auxiliar {
  height: 50px;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
  border-image-slice: 1;
}
.auxiliar-about .title-auxiliar h2 {
  margin: 20px;
  font-weight: bolder;
  color: #000;
}
.auxiliar-about .title-auxiliar h2 .color {
  color: #2073f0;
}
.auxiliar-about .container-about-padre {
  display: flex;
}
.auxiliar-about .container-about-padre > div {
  width: 50%;
  padding-top: 10px;
  padding: 22px;
}
.auxiliar-about .container-about-padre p {
  color: #646464;
  line-height: 2em;
}
.auxiliar-about .container-about-padre .auxiliar-rithg {
  width: 50%;
  border-left: 1px solid;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
  border-image-slice: 1;
}
.auxiliar-about .container-about-padre .auxiliar-rithg .axuliar-lista {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0;
}
.auxiliar-about .container-about-padre .auxiliar-rithg .axuliar-lista li {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  border-image-source: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
  border-image-slice: 1;
  padding-top: 12px;
}
.auxiliar-about .container-about-padre .auxiliar-rithg .axuliar-lista li:first-child {
  border-top: none;
}
.auxiliar-about .container-about-padre .auxiliar-rithg .axuliar-lista li span {
  padding: 1px 4px;
}
.auxiliar-about .container-about-padre .auxiliar-rithg .axuliar-lista li .subrayado-auxiliar {
  background-color: #2073f0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
}
.auxiliar-about .container-about-padre .auxiliar-rithg .axuliar-lista li .subrayado-color {
  color: #646464;
  margin-right: 20px;
}
.auxiliar-about .container-about-padre-server {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.auxiliar-about .container-about-padre-server > .server-column {
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}
.auxiliar-about .container-about-padre-server > .server-column:first-child {
  border-right: 1px solid;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.13), transparent);
  border-image-slice: 1;
}
.auxiliar-about .container-about-padre-server > .server-column > div {
  padding: 20px;
}
.auxiliar-about .container-about-padre-server > .server-column > div:first-child {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.13), transparent);
  border-image-slice: 1;
}
.auxiliar-about .container-about-padre-server > .server-column > div span {
  line-height: 45px;
  display: block;
}
.auxiliar-about .container-about-padre-server > .server-column > div span i {
  font-size: 25px;
  background-color: #2073f0;
  padding-top: 15px;
  border-radius: 50%;
  height: 45px;
  width: 60px;
  color: #fff;
}
.auxiliar-about .container-about-padre-server > .server-column > div h4 {
  color: #3d3d3d;
}
.auxiliar-about .container-about-padre-server > .server-column > div p {
  color: #646464;
}
.auxiliar-about .auxiliar-container-pricing-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #646464;
}
.auxiliar-about .auxiliar-container-pricing-container > div {
  border-right: 1px solid;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.13), transparent);
  border-image-slice: 1;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha {
  width: 50%;
  padding: 15px;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-horario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-horario .clorize {
  padding: 8px;
  width: 60px;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-horario .clorize i {
  font-size: 25px;
  color: #2073f0;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-horario .princing-subtitle {
  color: #646464;
  font-size: 18px;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-horario h3 {
  font-size: 40px;
  padding: 0;
  margin: 0;
  color: black;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-horario h3 .arriba {
  font-size: 16px;
  font-weight: bold;
  vertical-align: super;
  color: #646464;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-horario h3 .abajo {
  font-size: 16px;
  font-weight: lighter;
  color: #646464;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-lista ul {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.13), transparent);
  border-image-slice: 1;
  text-align: center;
  padding: 0;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-lista ul li {
  list-style-type: none;
  padding-bottom: 5px;
  height: 30px;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-lista ul li span.list-subrayado {
  text-decoration: line-through;
  color: #b1b1b1;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-lista ul li span.new {
  background-color: #f0f0f0;
  color: #d2d2d2;
  border-radius: 5px 5px;
  font-size: 12px;
  padding: 4px;
  margin-left: 8px;
  text-decoration: none;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-pricing-lista ul li span.new2 {
  background-color: #e4e4e4;
  color: #646464;
  border-radius: 5px 5px;
  font-size: 12px;
  padding: 4px;
  margin-left: 8px;
  text-decoration: none;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-priing-icono a {
  text-decoration: none;
  padding: 5px;
  color: #3e3e3e;
  font-weight: bolder;
  font-size: 15px;
  transition: all 0.3s linear;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-priing-icono a:hover {
  color: #2073f0;
}
.auxiliar-about .auxiliar-container-pricing-container .auxilar-pricing-derecha .auxiliar-priing-icono a i {
  padding: 5px;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
