// $primary-color: rgb(216, 11, 154); // Pink
$primary-color: rgb(32, 115, 240);
$secundary-color: #646464;

body {
    background: linear-gradient(135deg, lighten($primary-color, 25%), $primary-color);
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.menu {
    width: 90px;
    height: 380px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 5px;

    ul {
        margin: 0;
        padding-left: 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        li {
            text-decoration: none;
            list-style-type: none;
            text-align: center;
            border-bottom: 1px solid;
            border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0.13), transparent);
            border-image-slice: 1;
            padding: 15px;

            &:last-child {
                border: none;
            }

            &.active {
                a {
                    color: $primary-color;
                }
            }

            a {
                color: $secundary-color;
                 transition: all .2s linear;

                &:hover {
                    color: $primary-color;
                }

                span {
                    display: block;
                    margin-top: 10px;
                    font-size: 11px;
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                        Verdana, sans-serif;
                }
            }

            i {
                font-size: 18px;
            }
        }
    }
}

.contact {
    height: 580px;
    width: 450px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    z-index: 1;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .contac-Photo {
        height: 400px;
        background-image: url("./img/PERFIL.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
        position: relative;

        .style-corner {
            border: 230px solid #fff;
            border-bottom: 0;
            border-top: 35px solid transparent;
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            z-index: 1;
        }
    }

    .contct-title h1 {
        font-size: 13;
        height: 40px;
        padding: 10px;
        margin: 0;
    }

    .contact-subtitle {
        height: 20px;

        span {
            font-size: 18px;
            color: $primary-color;
        }
    }

    .contact-social {
        height: 43px;
        padding-top: 15px;

        a {
            color: #3b3b3b;
            padding: 7px;
            margin-top: 10px;
            transition: all .3s linear;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .contact-descarga {
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid;
        border-image-source: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.15), transparent);
        border-image-slice: 1;

        a {
            text-decoration: none;
            color: $secundary-color;
            font-weight: 600;
            font-size: 14px;
            padding-top: 15px;

            &:first-child {
                border-right: 2px solid;
                border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
                border-image-slice: 1;
                padding-right: 80px;
            }
        }
    }
}

.auxiliar-about {
    height: 550px;
    width: 600px;
    background-color: #fff;
    border-radius: 0px 5px 5px 0px;
    overflow-x: auto;

    .title-auxiliar {
        height: 50px;
        border-bottom: 1px solid;
        border-image-source: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent);
        border-image-slice: 1;

        h2 {
            margin: 20px;
            font-weight: bolder;
            color: #000;

            .color {
                color: $primary-color;
            }
        }
    }

    .container-about-padre {
        display: flex;

        & > div {
            width: 50%;
            padding-top: 10px;
            padding: 22px;
        }

        p {
            color: $secundary-color;
            line-height: 2em;
        }

        .auxiliar-rithg {
            width: 50%;
            border-left: 1px solid;
            border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
            border-image-slice: 1;

            .axuliar-lista {
                list-style-type: none;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                padding: 0;

                li {
                    padding-bottom: 12px;
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid;
                    border-image-source: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
                    border-image-slice: 1;
                    padding-top: 12px;

                    &:first-child {
                        border-top: none;
                    }

                    span {
                        padding: 1px 4px;
                    }

                    .subrayado-auxiliar {
                        background-color: $primary-color;
                        border-radius: 2px;
                        color: #fff;
                        font-size: 14px;
                        vertical-align: middle;
                    }

                    .subrayado-color {
                        color: $secundary-color;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .container-about-padre-server {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        & > .server-column {
            width: 50%;
            box-sizing: border-box;
            padding: 5px;
            text-align: center;

            &:first-child {
                border-right: 1px solid;
                border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.13), transparent);
                border-image-slice: 1;
            }

            & > div {
                padding: 20px;

                &:first-child {
                    border-bottom: 1px solid;
                    border-image-source: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.13), transparent);
                    border-image-slice: 1;
                }
                span {
                    line-height: 45px;
                    display: block;

                    i {
                        font-size: 25px;
                        background-color: $primary-color;
                        padding-top: 15px;
                        border-radius: 50%;
                        height: 45px;
                        width: 60px;
                        color: #fff;
                    }
                }

                h4 {
                    color: #3d3d3d;
                }

                p {
                    color: $secundary-color;
                }
            }
        }
    }

    .auxiliar-container-pricing-container {
        display: flex;
        justify-content: space-around;
        text-align: center;
        color: $secundary-color;

        & > div{
            border-right: 1px solid;
            border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.13), transparent);
            border-image-slice: 1;
        }

        .auxilar-pricing-derecha {
            width: 50%;
            padding: 15px;

            .auxiliar-pricing-horario {
                display: flex;
                flex-direction: column;
                align-items: center;

                .clorize {
                    padding: 8px;
                    width: 60px;
                    

                    i {
                        font-size: 25px;
                        color: $primary-color;
                    }
                }

                .princing-subtitle {
                    color: $secundary-color;
                    font-size: 18px;
                }

                h3 {
                    font-size: 40px;
                    padding: 0;
                    margin: 0;
                    color: black;

                    .arriba {
                        font-size: 16px;
                        font-weight: bold;
                        vertical-align: super;
                        color: $secundary-color;
                    
                    }

                    .abajo {
                        font-size: 16px;
                        font-weight: lighter;
                        color: $secundary-color;
                    }
                }
            }

            .auxiliar-pricing-lista{

                ul{
                    border-bottom: 1px solid;
                    border-image-source: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.13), transparent);
                    border-image-slice: 1;
                    text-align: center;
                    padding: 0;
                
                    li{
                        list-style-type:none ;
                        padding-bottom: 5px;
                        height: 30px;

                       span.list-subrayado{
                           text-decoration: line-through;
                           color:lighten($secundary-color,30%);
                        }
                        span.new{
                            background-color: lighten($secundary-color,55%);
                            color:lighten($secundary-color,43%) ;
                            border-radius: 5px 5px;
                            font-size: 12px;
                            padding: 4px;
                            margin-left: 8px;
                            text-decoration: none;
                        }
                        span.new2{
                            background-color: lighten($secundary-color,50%);
                            color: $secundary-color;
                            border-radius: 5px 5px;
                            font-size: 12px;
                            padding: 4px;
                            margin-left: 8px;
                            text-decoration: none;
                        }
                    }
                }
            }
            .auxiliar-priing-icono{
               
                a{
                    text-decoration: none;
                    padding: 5px;
                    color:darken($secundary-color, 15%);
                    font-weight: bolder;
                    font-size: 15px;
                    transition: all .3s linear;


                    &:hover{
                        color: $primary-color;
                    }

                    i{
                        padding: 5px;
                        font-size: 15px;
                    }
                  
                }

            }
        }
        
    }
}
